{%extends 'blog/base.html'%}

{%block title%}Logout{%endblock title%}
{%block body%}
<head>
<script>
    function onAction()
    {
        window.location.assign("/login")
    }
    alert("You've been Logged Out")
</script>
<style>
        .zoom2 {
            padding: 40px;
            transition: transform .3s;
            width: auto;
            height: auto;
            margin: 0 auto;
          }
          .zoom2:hover {
            transform: scale(1.04); 
            background: #E0E0E0;
          }
</style>
</head>
<div class="content-section container zoom2">
        <h3>You have been logged Out!</h3>
        <div class="pt-6">
                <hr class="my-2">
            <button type="button" class="btn btn-dark" onclick="onAction()">
                    
                Log In
            </button>
        </div>    
</div>
{%endblock body%}