{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ user.first_name }} {{user.last_name}}{% endblock %}
{% block body %}
    <div class="content-section">
      <div class="media text-center">
        <img class="rounded-circle account-img " src="{{ user.profile.image.url }}" >
        <div class="media-body">
          <h2 class="account-heading">{{ user.first_name }} {{user.last_name}}</h2>
        </div>
      </div>
      <div class="list-group">
        <p class="text-dark list-group-item list-group-item-action">Email : {{ user.email }}</p>
        <p class="text-dark list-group-item list-group-item-action">UserName : {{user.username}}</p>
        <p class="text-dark list-group-item list-group-item-action">Last Login : {{user.last_login}}</p>
      </div>
      <small class="text-muted">Change The Profile then <a class="text-danger" href="{% url 'change-profile'%}" style="text-decoration: none;align-self: auto;">Click Me!</a></small>
    </div>
{% endblock body %}